Repository apache/shardingsphere-doc, pull requests merged in 2022-10, with the labels that each got.

#618 Change 3 types of encryption algorithm into 5 types of encryption algorithms
  document/5.1.1/cn/reference/encrypt/index.html
Labels: document

#625 Update homepage document link
  index.html
  index_zh.html
  learning.html
  legacy.html
  legacy_zh.html
Labels: release

#626 delete experimental phase
  document/5.2.1/cn/user-manual/shardingsphere-proxy/migration/index.html
Labels: document

#638 add view in the tree
  document/5.2.1/cn/reference/management/index.html
Labels: invalid, document

#639 add view in the tree
  document/5.2.1/en/reference/management/index.html
Labels: document

#642 add spring boot supported versions
  document/5.2.1/cn/user-manual/shardingsphere-jdbc/spring-boot-starter/index.html
Labels: document

#643 add supported springboot versions
  document/5.2.1/en/user-manual/shardingsphere-jdbc/spring-boot-starter/index.html
Labels: document

#644 modify a wrong word experimental
  document/5.2.1/en/user-manual/shardingsphere-jdbc/spring-boot-starter/index.html
Labels: document
